.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
  }
}
