.cover__link{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 740px;
  width: calc(100% - 96px);
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  text-decoration: none;
  z-index: 1;
}

.cover__link::before{
  position: absolute;
  content: '';
  opacity: .3;
  background: black;
  transition: .8s;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover__link:hover::before{
  opacity: .8;
}

@media screen and (max-width: 767px){
  .cover__link {
    min-height: 62.5vw;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__link {
    min-height: 480px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px)  and (max-width: 1279px){
  .cover__link {
    width: 100%;
    min-height: 640px;
  }
}


