.page {
  display: flex;
  flex-direction: column;
  max-width: 1268px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  background: #2A2C2F;
  font-family: Inter, Arial, SansSerif;
}
