.intro__list {
  margin-top: 33px;
  margin-bottom: 0;
  margin-left: 0;
  width: 690px;
  height: 90px;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__list {
    width: 100%;
    height: 100%;
  }
}
