.intro__title {
  width: 690px;
  height: 58px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__title {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}
