.place__paragraph {
  margin: 0;
}

.place__paragraph:not(:first-child) {
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
