.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-left: auto;
  margin-top: 0;

  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: 0;
  }
}
