.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
