.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
  }
}
