.cover__title{
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 767px){
  .cover__title {
    width: 288px;
    /*margin-top: 33px;*/
    font-size: 32px;
    line-height: 35px;
  }
}
