.footer {
  display: flex;
  flex-direction: row;
  width: calc(100% - 96px);
  padding: 92px 0 0 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 88px 0 0 0;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 0 0;
  }
}
