.cover__title{
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 245px auto 0;
}

@media screen and (max-width: 768px){
  .cover__title {
    width: 288px;
    margin-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (min-width: 1024px)  and (max-width: 1279px){
  .cover__title {
    margin-top: 195px;
  }
}
